
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >Professionals</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row >
      <ion-slides pager=true slidesPerView=2>     
          <ion-slide  *ngFor="let professional of professionals" >  
            <button ion-thumbnail >
              <img src="{{bucketURL}}/cat{{professional.id}}.jpg">
            </button>
            <p>{{ professional.name }}</p>
          </ion-slide>      
      </ion-slides>
    </ion-row>

    <ion-row>
      <ion-slides pager=true slidesPerView=2>    
          <ion-slide  *ngFor="let professional of professionals" > 
            <button ion-thumbnail >
              <img src="{{bucketURL}}/cat{{professional.id}}.jpg">
            </button>           
            <p>{{ professional.name }}</p>
          </ion-slide>    
      </ion-slides>
    </ion-row>
  </ion-grid>
</ion-content>
