page-home {

    h3 {
        text-align: center;
        color: aliceblue;      
    }

    img {
        min-width: 20px;
        max-width: 30%;
        align-self: center;
        //margin: auto;
        margin: 0 auto 0 auto;
        display: block;
        // padding-bottom: 5px;
        border-radius: 30%;
    }

    ion-content.getBkgdImg {
        background-image: url('../../assets/imgs/tela-inicial-2.jpg');
        background-repeat: no-repeat;
        background-size:cover;
    }
    
    ion-item.getTransp {
        background-color: transparent;
    }

    $text-input-highlight-color-valid: #000;
}