page-home {

    h3 {
        text-align: center;
        color: aliceblue;      
    }

    img {
        min-width: 50px;
        max-width: 150px;
        align-self: center;
        margin: auto;
        display: block;
        padding-bottom: 5px;
    }

    ion-content.getBkgdImg {
        background-image: url('../../assets/imgs/tela-inicial-2.jpg');
        background-repeat: no-repeat;
        background-size:cover;
    }
    
    ion-item.getTransp {
        background-color: transparent;
    }

    $text-input-highlight-color-valid: #000;
}